
 @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:10px
}
body{
    display: flex;
    flex-direction: column;
    background-color: #273043;
    color: white;
    font-weight: 700;
    font-family: rubik;
    justify-content: center;
    align-items: center;
}


.books-container{
    display: flex;
    flex-wrap: wrap;
    
}
.book{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 15px;
    background-color: rgb(67, 81, 114);
    border-radius: 12px;
    height: 250px;
    width: 250px;
    flex: 2 4 1;
}
.button-container{
    display: flex;
    justify-content:space-evenly;
}

.addbook-container{
    display: flex;
    flex-direction: column;
    background-color: #1c2029;
    border-radius: 12px;

}
[hidden]{
    display:none;
  }
input{
    background-color: #293651;
    border-radius: 7px;
    border-style: none;
    color: white;
}