@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 700;
  font-family: Calibri, "rubik";
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: #eaf0f7;
}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: Calibri, "rubik";
  padding: 75px;
  background-color: #252831;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.first-container h1 {
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 65px;
  width: 100%;
  font-weight: 400;
}
hr {
  background-color: yellow;
  width: 1000px;
  height: 2px;
  border-radius: 20%;
  margin: 0px;
  margin-bottom: 30px;
  background-color: #434958;
}
.books-container {
  display: flex;
  flex-wrap: wrap;
  
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 35px;
  border-radius: 38px;
  height: 400px;
  width: 250px;
  flex: 2 4 1;
  position: relative;
}
img {
  width: 260px;
  height: 260px;
  object-fit: fill;
  border-radius: 38px;
  display: inline-block;
}
.bookDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  
}
.bookDiv h3{
  color: #f3f3f3;
  font-weight: 400;
  margin: 3px;
  margin-top: 12px;
}
.bookDiv h4,h5{
  font-weight: 400;
  color: #747b8c;
  margin: 3px;
}
.readStateBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 14px;
  margin-top: 4px;
  padding: 0;

}
.true.readStateBtn{
  background-color: #17ca8e;
  color: #16181c;
  font-size: 15px;
  font-weight: 600;
}
.false.readStateBtn{
  background-color:  #e52a3c;
  color: #16181c;
  font-size: 15px;
  font-weight: 600;

}
#mas {
  background-color: #434958;
  height: 250px;
  width: 250px;
}
#mas h2 {
  background-color: #434958;
  font-weight: 400;
}

.second-container {
  background-color: #eaf0f7;
  height: 100%;
  width: 100%;
  font-family: Calibri, "rubik";
}

.addbook-container {
  display: flex;
  flex-direction: column;
  background-color: #1c2029;
  border-radius: 12px;
  width: 300px;
  height: 300px;
}
input {
  background-color: #293651;
  border-radius: 7px;
  border-style: none;
  color: white;
}
.mas {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 150px;
}
